.v_list_box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1ch;
}

.v_list{
    width: 100%;
    max-width: 100%;
    /* margin: 2%; */
    margin-left: 1ch;
    margin-bottom: 0.2ch;

    padding-left: 1ch;
    padding-bottom: 0.1ch;

    border-bottom: dashed 0.2ch;
    border-left: solid 0.2ch;
    color: darkgray;
    
}

.v_list h6{
    font-size: 2.5ch;
}

.v_list p{
    padding: 0 ;
    padding-left: 1ch;
    margin: 0;
}
